# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
.env

# React Router
/.react-router/
/build/

# Hardhat
hardhat/artifacts/
hardhat/cache/
hardhat/node_modules/
hardhart/dist
hardhart/bundle
hardhart/types
hardhart/coverage

# Foundry
foundry/out/
foundry/cache/
foundry/node_modules/
foundry/lib


# Noir / circuits
circuit/target/

# Logs and OS files
*.log
.DS_Store
*/.gitignore

